@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .object-fit{
        object-fit: fill;
        border-radius: 9999px;
        width: 320px;
        height: 320px;
        object-fit: cover;
    }
}